<body>
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3"> Bienvenido  </h1>
		<p class="lead"> Esta es la pagina principal de la aplicacion. Si desea acceder a la informacion de la base de datos, por favor ingrese con cuenta de usuario autorizada.  </p>
	</div>
</div>

<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-6">
			<h2 class="display-6"> Registro de Clientes </h2>
			<p class="lead"> En esta seccion, podra registrar las siguientes cosas en su base de datos: </p>
		</div>
	</div>
	
	<div class="row justify-content-md-center">
			<div class="col-6 ">
				<h2 class="display-5 text-right"> Visualizar Registros </h2>
				<p class="lead text-right"> En esta seccion, podra visualizar los siguientes archivos: </p>
			</div>
	</div>

	<div class="row justify-content-md-center">
		<div class="col-6">
			<h2 class="display-6"> Vista de Manejo General de la Data </h2>
			<p class="lead"> Esta seccion esta restringida, no se le garantiza acceso a menos de que sea el Administrador </p>
		</div>
	</div>
	
	<br><br>
</div>


</body>	